* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --gradient: linear-gradient(110deg,
            #b5eae0,
            #b5eac7,
            #caeab5,
            #e9eab5,
            #eabbb5,
            #8ceef5);
}

body {
    background-color: rgb(247, 247, 247);
    font-family: Lato, serif;
}

/* supplementary elements */

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.line {
    display: block;
    width: 160px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto;
}

/* header */

header {
    box-shadow: 0px 1px 5px 0px rgb(168, 167, 167) inset;
    /* margin-bottom: 5px; */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    background-image: url("../images/crondose.png");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 50px;
}

/* navigation */

nav {
    width: 50%;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
}

.nav-menu__item {
    color: rgb(65, 53, 3);
    position: relative;
}

.nav-menu__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.nav-menu__item:hover::after {
    opacity: 1;
    transition: opacity .2s linear;
}

/* portfolio plates */

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio__item {
    position: relative;
    text-align: center;
    /* background-color: tomato; */
}

.portfolio__item .item-img {
    height: 300px;
    background-image: url("../images/portfolio4.jpg");
    background-size: cover;
    background-position: center;

}

.portfolio__item .item-title {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    opacity: 0;
    text-shadow: 2px 2px 1px rgb(214, 214, 0);
}

.portfolio__item:hover .item-title {
    opacity: 1;
    transition: opacity .2s linear;
}

.portfolio__item:hover .item-img {
    /* opacity: 0.4; */
    transition: opacity, border, transform 0.2s linear;
    transform: translate3d(-4px, -4px, 0);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgb(248, 240, 224);
}

/* statistics */

.stats {
    background-color: #b5eae0;
    box-shadow: 0px 0px 5px 0px rgb(177, 185, 192);
    animation: bg-animation 12s infinite alternate;
    background-image: var(--gradient);
    background-size: 400%;
    background-position: left;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.stats-container {
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    align-items: stretch;
    flex-wrap: wrap;
}

.stats-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    flex-grow: 1;
    border-left: 1px solid rgba(238, 238, 220, 0.541);
}

.stats-item:last-child {
    border-right: 1px solid rgba(238, 238, 220, 0.541);
}

.item-content {
    text-align: center;
}

.item__number {
    font-weight: bold;
    font-size: 45px;
    color: #2c5550;
}

.item__title {
    color: #549e95;
}